{% extends "layouts/navbase.html" %}
{% load static %}
{% block contenido %}

<main class="about" style="padding-top: 90px;">

    <div class="institucion">
        <br>
        <h2 class="section-heading text-center">Centro de Bachillerato Tecnológico industrial y de servicios No.150</h2>
    </div>
    <br><br>
    <div class="materia">
        <h3 class="text-center"><b>MÓDULO PROFESIONAL II:</b> Desarrolla Software con Herramientas Orientadas a la
            Productividad.</h3> <br>
        <h4 class="text-center"><b>SUBMÓDULO I:</b> Emplea Frameworks para el Desarrollo de Software.</h4>
        <h4 class="text-center"><b>SUBMÓDULO II:</b> Aplica Metodologías Ágiles para el Desarrollo de Software.</h4>
        <br><br>
        <center>
            <div class="profesor">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}" alt="..." />
                        <h4>Profesor</h4>
                        <p class="text-muted">Roberto Ruiz Mendoza</p>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <div class="equipo">
        <h2 class="section-heading text-center">3° "D"
            <br>
            Generación: 2023-2026
            <br>
            B.T. en Programación
            <br>
            Equipo 2
            <br><br>
        </h2>

        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="text-center">Integrantes del Equipo:</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}"
                                alt="..." />
                            <p class="text-muted">Oscar Mariano Arango Ruiz</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}"
                                alt="..." />
                            <p class="text-muted">Dulce Marina López Cruz</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}"
                                alt="..." />
                            <p class="text-muted">Diana Sofia Villanueva Vásquez </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}"
                                alt="..." />
                            <p class="text-muted">Benjamín Fernando Cruz Manuel</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}"
                                alt="..." />
                            <p class="text-muted">Wendy Matínez Caballero</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static "comentarios/img/user.jpg" %}"
                                alt="..." />
                            <p class="text-muted">Josué Santiago Martínez</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <p class="large text-muted">Esta página web ha sido creada para informar sobre el programa AMA
                            DGETI, el cual tiene como objetivo fomentar la educación ambiental y crear conciencia sobre
                            la importancia de cuidar y preservar nuestro medio ambiente, a través de recursos,
                            actividades y la promoción de buenas prácticas.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="faq" class="faq section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2 class="text-center">Agradecimientos y Referencias</h2>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row justify-content-center">
  
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
  
              <div class="faq-container">
  
                <div class="faq-item">
                  <h3>Tecnologías utilizadas</h3>
                  <div class="faq-content">
                    <p> <strong>Front-end</strong> <br>
                        •HTML <br>
                        •CSS <br>
                        •JavaScript <br><br>
                        <strong>Back-end</strong> <br>
                        •Python <br>
                        •Django <br><br>
                        <strong>Motor de base de datos</strong> <br>
                        •MySQL <br><br>
                        <strong>Editor de texto</strong><br>
                        •Visual Studio Code <br>
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->

                <div class="faq-item">
                  <h3>Atribuciones</h3>
                  <div class="faq-content">
                    <p> • Freepik. <a href="https://www.freepik.es/">https://www.freepik.es/</a><br>
                        • Bootstrap. <a href="https://getbootstrap.com/">https://getbootstrap.com/</a>
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3>Fuentes</h3>
                  <div class="faq-content">
                    <p>• Arcadis. (2023). Global Sustainable Cities Index. Retrieved from lin <a href="https://www.arcadis.com ">https://www.arcadis.com</a><br>
                        • Copenhagen Solutions. (2023). Copenhagen City. Retrieved from <a href="https://www.copenhagen.dk">https://www.copenhagen.dk</a> <br>
                        • Arcadis. (2023). Sustainable Cities Index. Retrieved from
                        <a href="https://www.arcadis.com">https://www.arcadis.com</a><br>
                        • Amsterdam Green Policy. (2023). Amsterdam.nl. Retrieved from <a href="https://www.amsterdam.nl">https://www.amsterdam.nl</a> <br>
                        • Singapore Urban Redevelopment Authority. (2023). URA. Retrieved from <a href="https://www.ura.gov.sg">https://www.ura.gov.sg</a> <br>
                        • Sustainable Cities. (2023). Global Sustainability Rankings. Retrieved from
                        <a href="https://www.sustainablecities.com">https://www.sustainablecities.com</a><br>
                        • City of Vancouver. (2023). Vancouver.ca. Retrieved from
                        <a href="https://www.vancouver.ca">https://www.vancouver.ca</a> <br>
                        • Stockholm Environmental Programme. (2023). Stockholm.se. Retrieved from
                        <a href="https://www.stockholm.se">https://www.stockholm.se</a> <br>
                        • Secretaría de Movilidad de la Ciudad de México. (2020). Ecobici. Gobierno de la Ciudad de México. <br>
                        • Servicio de Tren Eléctrico de Guadalajara. (2019). Informe Anual. Gobierno de Jalisco. <br>
                        • Parques y Vida Silvestre de Nuevo León. (2018). Parque La Huasteca. Gobierno del Estado de Nuevo León. <br>
                        • Gobierno Municipal de Tijuana. (2017). Programa de Reforestación Tijuana. Ayuntamiento de Tijuana. <br>
                        • Comisión Nacional del Agua. (2019). Proyecto de Recuperación de Ríos en Puebla. CONAGUA. <br>
                        • Ayuntamiento de Benito Juárez. (2020). Plan de Manejo de Residuos Sólidos. Gobierno Municipal. <br>
                        • Gobierno del Estado de Veracruz. (2018). Energía Solar en Edificios Públicos. Gobierno del Estado. <br>
                        • Ayuntamiento de Mérida. (2019). Plan de Desarrollo Urbano Sostenible. Gobierno Municipal. <br>
                        • Gobierno del Estado de Oaxaca. (2017). Agricultura Urbana en Oaxaca. Gobierno del Estado. <br>
                        • Ayuntamiento de San Luis Potosí. (2019). Eco-Bici. Gobierno Municipal. <br>
                        • Municipio de Querétaro. (2018). Programa de Movilidad Sustentable. Gobierno Municipal. <br>
                        • Ayuntamiento de León. (2020). Parque Lineal Río Bajío. Gobierno Municipal. <br>
                        • Gobierno del Estado de Tlaxcala. (2019). Estrategia de Energías Renovables. Gobierno del Estado. <br>
                        • Gobierno del Estado de Aguascalientes. (2018). Certificación de Edificios Verdes. Gobierno del Estado. <br>
                        • Comisión Estatal de Agua de Chihuahua. (2019). Proyecto de Uso Eficiente del Agua. Gobierno del Estado. <br>
                        • Secretaría de Educación Pública del Gobierno del Estado de Puebla. (2023, junio 10). No lo olvides: este
                        10 de junio podrás compartirnos las actividades de educación. Facebook.
                        <a href="https://www.facebook.com/SEPGobPue/posts/no-lo-olvideseste-10-de-junio-podr%25C3%25A1s-compartirnos-las-actividades-de-educaci%25C3%25B3n-s/388890173271473/">https://www.facebook.com/SEPGobPue/posts/no-lo-olvideseste-10-de-junio-podr%25C3%25A1s-compartirnos-las-actividades-de-educaci%25C3%25B3n-s/388890173271473/</a> <br>
                        • Copenhagen Municipality. (2023). CPH 2025 Climate Action Plan. Copenhagen Solutions. <br>
                        • Ajuntament de Barcelona. (2023). Superblocks: A New Urban Model. Barcelona City Council. <br>
                        • San Francisco Department of the Environment. (2023). Zero Waste San Francisco. <br> 
                        • Malmö Stad. (2022). Sustainable City - Western Harbor. <br>
                        • Municipality of Amsterdam. (2023). Amsterdam Mobility Plan. <br>
                        • Oslo Municipality. (2022). Oslo Climate and Energy Strategy. <br>
                        • City of Vancouver. (2022). Vancouver’s Climate Emergency Action Plan. <br>
                        • Tbilisi City Hall. (2023). Sustainable Public Spaces Project. <br>
                        • Greater London Authority. (2022). London’s Air Quality. <br>
                        • Secretaría de Movilidad de la Ciudad de México. (2022). Ecobici. <br>
                        • Senate Department for Economics, Energy and Public Enterprises. (2022). Energy Transition in Berlin. <br>
                        • Ministerio de Transporte y Telecomunicaciones. (2022). Plan de Transporte Sustentable. <br>
                        • Ayuntamiento de Veracruz. (2023). Plan de Manejo de Residuos. <br>
                        • Helsinki City. (2023). Sustainable Energy in Helsinki. <br>
                        • Nairobi City County. (2023). Urban Agriculture Policy. <br>
                        • City of Los Angeles. (2023). Sustainable City Plan. <br>
                        • Alcaldía de Medellín. (2023). Metrocable and Metro Expansion Project. <br>
                        • Brisbane City Council. (2023). Green Bridge Project. <br>
                        • Municipalidad de Lima. (2022). Public Space Recovery Program. <br>
                        • City of Stockholm. (2023). Sustainable Mobility Plan. <br>
                        • City of Toronto. (2023). Green Roofs Program. <br>
                        • Ayuntamiento de Mérida. (2022). Sustainable Urban Development Plan. <br>
                        • City of Tucson. (2022). Water Conservation Program. <br>
                        • Bruhat Bengaluru Mahanagara Palike. (2022). Lake Restoration Project. <br>
                        • Dublin City Council. (2022). Sustainable Energy Action Plan. <br>
                        • Alcaldía de Tegucigalpa. (2023). Sustainable Housing Project. <br>
                        • Naciones Unidas. (n.d.). Día Mundial del Medio Ambiente. <a href="https://www.un.org/es/events/environmentday/">https://www.un.org/es/events/environmentday/</a> <br>
                        • Organización Mundial de la Salud. (n.d.). Día Mundial de la Salud.
                        <a href="https://www.who.int/es/campaigns/world-health-day">https://www.who.int/es/campaigns/world-health-day</a> <br>
                        • Organización de las Naciones Unidas para la Alimentación y la Agricultura. (n.d.). Día Mundial de la
                        Alimentación. <a href="https://www.fao.org/world-food-day/es/">https://www.fao.org/world-food-day/es/</a> <br>
                        • Naciones Unidas. (n.d.). Día Mundial de los Derechos Humanos. <a href="https://www.un.org/es/events/humanrightsday/">https://www.un.org/es/events/humanrightsday/</a> <br>
                        • Naciones Unidas. (n.d.). Día Internacional de la Mujer. <a href="https://www.un.org/es/observances/womens-day">https://www.un.org/es/observances/womens-day</a> <br>
                        • Naciones Unidas. (n.d.). Día de la Tierra. <a href="https://www.un.org/es/observances/earth-day">https://www.un.org/es/observances/earth-day</a> <br>
                        • Naciones Unidas. (n.d.). Día Mundial de la Población. <br>
                        • Ciudades Educadoras. (n.d.). Día Internacional. <a href="https://www.un.org/es/events/populationday/">https://www.un.org/es/events/populationday/</a> <br>
                        • de las Ciudades Educadoras. <a href="https://www.edcities.org/">https://www.edcities.org/</a> <br>
                        • Naciones Unidas. (n.d.). Día Internacional de la Paz.
                        <a href="https://www.un.org/es/observances/international-day-of-peace">https://www.un.org/es/observances/international-day-of-peace</a> <br>
                        • UNESCO. (n.d.). Día Mundial de la Educación Ambiental.
                        <a href="https://en.unesco.org/themes/education-sustainability">https://en.unesco.org/themes/education-sustainability</a> <br>
                        • Gobierno de la Ciudad de México. (2022). CicloRutas. Recuperado de <a href="https://www.cdmx.gob.mx">https://www.cdmx.gob.mx</a> <br>
                        • Ayuntamiento de Guadalajara. (2023). Bosques Urbanos. Recuperado de <a href="https://www.guadalajara.gob.mx">https://www.guadalajara.gob.mx</a> <br>
                        • Gobierno del Estado de Nuevo León. (2022). Sistema de Transporte Ecológico. Recuperado de 
                        <a href="https://www.nl.gob.mx">https://www.nl.gob.mx</a> <br>
                        • Ayuntamiento de Puebla. (2023). Reforestación en Espacios Públicos. Recuperado de
                        <a href="https://www.puebla.gob.mx">https://www.puebla.gob.mx</a> <br>
                        • Gobierno de Quintana Roo. (2022). Energía Solar para Comunidades. Recuperado de <a href="https://www.qroo.gob.mx">https://www.qroo.gob.mx</a> <br>
                        • Centro de Bachillerato Tecnológico Industrial y de Servicios No. 150. (n.d.). Página oficial.
                        <a href="https://cbtis150.edu.mx/">https://cbtis150.edu.mx/</a> <br>
                        • Start Bootstrap. (n.d.). Agency. Start Bootstrap. <a href="https://startbootstrap.com/theme/agency">https://startbootstrap.com/theme/agency</a> <br>
                        • idangero.us. (n.d.). Swiper. Swiper. <a href="https://unpkg.com/swiper/swiper-bundle.min.css">https://unpkg.com/swiper/swiper-bundle.min.css</a>
                        </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item--> 
  
              </div>
  
            </div><!-- End Faq Column-->
  
          </div>
  
        </div>
  
      </section><!-- /Faq Section -->
  
</main>
<script>
    document.getElementById("titulo").innerHTML = "Acerca de";
</script>
{% endblock contenido %}